<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Кошка или Собака</title>
</head>
<body>
    <h1>Закинь картинку</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Определить</button>
    </form>

    {% if image_path %}
        <h3>Загруженное изображение</h3>
        <img src="{{ image_path }}" width="300">
    {% endif %}

    {% if result %}
        <h2>Результат: {{ result }}</h2>
    {% endif %}
</body>
</html>